<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/admin/admin-header :: admin-header">
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- my-custom css -->
</head>
<link href="/my-custom/css/admin/addMenu.css?ver=1" rel="stylesheet">
<body>
<div th:replace="fragments/admin/admin-bodyHeader :: admin-bodyHeader"/>

<div class="container tableDiv mt-5 mb-5">
<!-- 본문 -->


<!-- ... end 본문 -->
</div>


<div th:replace="fragments/admin/admin-footer :: admin-footer"/>
<!--<div th:replace="fragments/footer :: footer"/>-->
</body>
</html>


<script type="application/javascript">
</script>

