<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
</head>
<body>

<div id="mom">
    <button class="addBtn" type="button">add</button>
    <ul id="rt">

    </ul>
</div>

<div>
    <ul id="ul">
        <div>
            <li id="li1">1</li>
            <button class="upBtn">UP</button>
        </div>
    </ul>
</div>

</body>
</html>

<script type="application/javascript">
    $(document).ready(function(){
        var num = 1;
        $(".addBtn").on("click", function(e){
            var ulClone = $("#ul").clone();
            ulClone.find("#li1").html(num++);
            console.log(ulClone);
            $("#rt").prepend(ulClone);
        });

        $("body").on("click", function(e){
            alert("click");
        });

    })
</script>