<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        input[type='text'] {
            width: 300px;
            height: 200px;
            font-size: 30px;
        }

    </style>
</head>
<body>
<div th:replace="fragments/nav-right :: nav-right"/>
<div th:replace="fragments/nav-top :: nav-top"/>
<div th:replace="fragments/bodyHeader :: bodyHeader"/>

<div class="container mt-5 mb-5">
    <form th:action th:method="post">
        <button type="submit">어택!!!</button>
        <table class="table table-sm table-dark">
            <thead>
            <tr>
                <th class="col-lg-1">First</th>
                <th class="col-lg-1.5">second</th>
                <th class="col-lg-1">third</th>
                <th class="col-lg-1">Handle</th>
                <th class="col-lg-8">Last</th>
            </tr>
            </thead>
            <tbody id="mom">
                <div  th:replace="food/fragments/appendFormToMenu :: appendFormToMenu"/>
            </tbody>
        </table>
    </form>

</div>

<div th:replace="fragments/footer :: footer"/>
</body>
</html>

<script type="application/javascript">
    $(document).ready(function(){
        const $mom = $("#mom");
        const $clone = $(".clone");
        const $addBtn = $(".addBtn");
        const $upBtn = $(".upBtn");
        let changeNo = 0;

        $mom.on("click", $addBtn, function(e){
            if($addBtn.attr("class") == e.target.className){
                addHtml(); //버튼 클릭시 로우 증가 + 로우의 인덱스 번호 값넣기
            }
        });

        $mom.on("click", "td", function(e){
            if($upBtn.attr("class") == e.target.className){
                console.log("upBtn click");
                let thisParent = $(this).parent(); // 현재 위치의 부모 엘리먼트는 -> tr class = "clone"

                const noValHtml = thisParent.find("#noVal").html(); // 현재 위치에 #noVal 의 html 이 갖고 있는 인덱스 번호
                const displaySingleFile = thisParent.find(".displaySingleFile");

                $(this).find("input[type='file']").click(); // 빨간색 UP 버튼을 클릭시 같은 위치 위임한 input file 이 클릭되도록 하는것;
                // displaySingleFile.attr("src", "");
                displaySingleFile.attr("data-id", noValHtml);

                changeNo = displaySingleFile.attr("data-id");
                // alert(changeNo);
            }
        });

        $mom.on("change", "td", function(e){
            if($(".upload-file").attr("class") == e.target.className) {
                let thisParent = $(this).closest("td");
                // console.log("thisParent  =  " + thisParent.html());
                var formData = new FormData();
                var singleFile = thisParent.find($("input[name='singleFile']")); // 배열로 담는구나
                var file = null;
                changeFile(formData, singleFile, file);
            }
        });


        function addHtml(){
            const cloneId = $(".clone").clone();
            const prefix = "<tr class='clone' data-index=\"0\" height='70x'>";
            const suffix = "</tr>";

            let appendTr = prefix + cloneId.html() + suffix;
            $mom.prepend(appendTr);

            $("#noVal").each(function (i, obj) {
                $(obj).html(parseInt($(obj).html()) + 1);
            });
        }

        function changeFile(formData, singleFile, file){
            //파일 업로드 이벤트
            singleFile.each(function (i, arr){
                if(arr.files != null){
                    file = arr.files;
                    formData.append("singleFile", file[0]);
                }

                console.log(file);

            });



            $.ajax({
                type: "POST",
                url: "/singleFileUpload",
                enctype : "multipart/form-data",
                processData : false,
                contentType : false,
                data : formData,
                dataType : "json",
                success :function(result){
                    showSingleFile(result);
                }
            }); // end ajax
        } // end changeFile function

        function showSingleFile(result){

            let encodeFullPath =  encodeURIComponent(result.fullPath);
            console.log("encodeFullPath = " + encodeFullPath);

            $("img[data-id='"+changeNo+"']").attr("src","/display?fullPath="+encodeFullPath);

        }

    });
</script>

<script type="application/javascript">
    $(document).ready(function(){
        const table = $("table");
        table.css("color", "#f07810");
        table.css("margin-top", "100px");
        table.css("margin-bottom", "250px");

        const table_button = $("button");
        table_button.css("border-bottom-left-radius", "50px");
        table_button.css("border-bottom-right-radius", "50px");

        const tr = $("tr");
        tr.css("height", "70px");

        const trInput = $("tr input")
        trInput.css("width", "100%");
        trInput.css("height", "35px");
        trInput.css("background-color", "#414141");
        trInput.css("color", "#e3e1c8");
        trInput.css("border", "0");
        trInput.css("font-size", "11px");
        trInput.css("border", "3px solid gray");


        const addrmbtn = $("#add-rm-btn > button, span");
        addrmbtn.css("width", "33%");
        addrmbtn.css("font-size", "5px");
        addrmbtn.css("color", "#FFD034");

        const displayImage = $(".displaySingleFile");
        displayImage.css("width", "70").css("height", "40");
        displayImage.css("border-radius", "60%").css("overflow", "hidden");
        displayImage.css("border", "3px solid gray");

        const upBtn = $(".upBtn");
        upBtn.css("background-color", "#221E1D");
        upBtn.css("border-radius", "20%");
        upBtn.css("border", "3px solid red");
        upBtn.css("border-color", "");
        upBtn.css("width", "45").css("height", "30");
        upBtn.css("margin-left", "5px").css("height", "30");


    });
</script>
