<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/admin/admin-header :: admin-header">
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<link href="/my-custom/css/admin/addFood.css?ver=2" rel="stylesheet">
<link href="/my-custom/css/admin/editFood.css?ver=2" rel="stylesheet">
<body>
<div th:replace="fragments/admin/admin-bodyHeader :: admin-bodyHeader"/>

<!-- ======= Book A Table Section ======= -->
<section id="book-a-table" class="book-a-table">
  <div class="container" data-aos="fade-up">

    <div class="row mt-5">
      <div class="col-lg-4"
           th:with="fullPath=${foodItemDto.uploadFileDto.getFullPath()},
                          clientFileName=${foodItemDto.uploadFileDto.getClientFileName()}">
        <div class="fileUploadDiv">
          <label>File upload</label>
          <label class="input-file-button" for="input-file">업로드</label>
          <input type="file" id="input-file" name="singleFile" style="display: none"></br>
        </div>
        <div>
          <p th:text="${fullPath == null? '등록한 사진이 없습니다.': clientFileName}"></p>
        </div>
        <figure>
          <img th:if="${fullPath} != null" th:src="|/display?fullPath=${#myFormat.encode(fullPath)}|" id="displaySingleFile" class="menu-img" alt=""/>
          <img th:if="${fullPath} == null" th:src="|/my-custom/images/images.jpg|" id="displaySingleFile" class="menu-img" alt=""/>
        </figure>
      </div>
      <div class="col-lg-8">
        <form role="form" th:action th:object="${foodItemDto}"
              method="post" enctype="multipart/form-data"
              class="php-email-form" data-aos="fade-up" data-aos-delay="100">

          <div class="">
            <div class="col-lg-6 col-md-6 form-group">
              <label>분류 1</label>
              <select th:field="${foodItemDto.foodGroups}"
                      class="ml-auto col-6 form-control">
                <option value="">==상품상세구분==</option>
                <option th:each="group : ${foodGroups}"
                        th:value="${group.name()}"
                        th:text="${group.name()}">status</option>
                <!--th:text="${group.getFoodGroupsName()}">status</option>-->
              </select>
            </div>
            <div class="col-lg-6 col-md-6 form-group">
              <label>분류 2</label>
              <select id="foodKindStatus" name="foodGroupsOfTitle"
                      class="ml-auto col-6 form-control">
                <option value="">select 1 을 먼저 선택 하세요=</option>
              </select>
            </div>
          </div>

          <div class="">
            <div class="col-lg-4 col-md-6 form-group">
              <label>FoodName</label>
              <input type="text" th:field="${foodItemDto.itemName}" class="form-control" placeholder="상품이름">
            </div>
            <div class="col-lg-4 col-md-6 form-group">
              <label>Price</label>
              <input type="text" th:field="${foodItemDto.price}" class="form-control" placeholder="0">
            </div>
            <div class="col-lg-4 col-md-6 form-group">
              <label>StockQuantity</label>
              <input type="text" th:field="${foodItemDto.stockQuantity}" class="form-control" placeholder="0">
            </div>
          </div>
          <div>
            <div class="col-lg-12 col-md-6 form-group">
              <label>Explains</label>
              <textarea class="form-control" th:field="${foodItemDto.explains}" rows="5" placeholder="Message"></textarea>
            </div>
          </div>

          <!-- ./ end check box -->

          <div class="text-center"><button type="submit">수정 등록</button></div>

          <input type="hidden" th:field="${foodItemDto.uploadFileDto.uploadFolder}">
          <input type="hidden" th:field="${foodItemDto.uploadFileDto.uploadPath}">
          <input type="hidden" th:field="${foodItemDto.uploadFileDto.clientFileName}">
          <input type="hidden" th:field="${foodItemDto.uploadFileDto.extFileName}">
          <input type="hidden" th:field="${foodItemDto.uploadFileDto.fileType}">
          <input type="hidden" th:field="${foodItemDto.uploadFileDto.serverFileName}">
          <input type="hidden" th:field="${foodItemDto.uploadFileDto.fullPath}">

        </form>
      </div>
    </div> <!-- end row -->

  </div> <!-- end container-->
</section><!-- End Book A Table Section -->


<div th:replace="fragments/admin/admin-footer :: admin-footer"/>
</body>
</html>

<!--<script th:inline="javascript">-->
<script type="application/javascript">
  $(document).ready(function(){

    /**
     * file 을 업로드 하면 사용자에 바로 이미지를 보여주도록 한다. rest 방식으로 응답값을 받아온다.
     * */
    $("input[name='singleFile']").on("change", function(){
      var formData = new FormData();
      var singleFile = $("input[name='singleFile']"); // 배열로 담는구나
      var file = singleFile[0].files; // 배열로 담는구나

      formData.append("singleFile", file[0]);

      $.ajax({
        type: "POST",
        url: "/singleFileUpload",
        enctype : "multipart/form-data",
        processData : false,
        contentType : false,
        data : formData,
        dataType : "json",
        success :function(result){

          showSingleFile(result);
          formAppendUploadFileDtoValues(result);

        }
      }); // end ajax

    }); // end singleFile upload event


    /**
     * FoodController 에  /food/getValues 요청시 enum 리스트를 받아서 select 박스를 구현한다.
     * select 1 을 선택해야 select 2 의 목록의 리스트가 생성된다.
     */
    $('#foodGroups').on("change", function(e){
      let val = $("#foodGroups option:selected").val();

      $.ajax({
        type : "GET",
        url : "/food/getValues",
        data : {foodGroupsName: val},
        success : function(data){
          console.log("ajax 서버응답 data : " + data);
          let str = "";
          str += "<option value='"+ val+ "'>" + "상품을 선택하세요" + "</option>";
          $.each(data, function(index, val){
            str += "<option value='"+ val+ "'>" + val+ "</option>";
          });

          //console.log(str);
          $("#foodKindStatus").html(str);

        }// end .success
      }); //end .ajax
    }); // end change event


// 싱글파일 이미지 보여주기 - rest 응답
    function showSingleFile(result){

      var encodeFullPath =  encodeURIComponent(result.fullPath);
      console.log("encodeFullPath = " + encodeFullPath);

      $("#displaySingleFile").attr("src","/display?fullPath="+encodeFullPath);

    }

// form 에 uploadFileDto 값들을 append 해서 db 에 저장해야 한다.
    function formAppendUploadFileDtoValues(result) {
      $("input[name='uploadFileDto.uploadFolder']").val(result.uploadFolder);
      $("input[name='uploadFileDto.uploadPath']").val(result.uploadPath);
      $("input[name='uploadFileDto.clientFileName']").val(result.clientFileName);
      $("input[name='uploadFileDto.extFileName']").val(result.extFileName);
      $("input[name='uploadFileDto.fileType']").val(result.fileType);
      $("input[name='uploadFileDto.uploadFolder']").val(result.uploadFolder);
      $("input[name='uploadFileDto.serverFileName']").val(result.serverFileName);
      $("input[name='uploadFileDto.fullPath']").val(result.fullPath);
    }

  }); // end document
</script>




