<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<div th:fragment="nav-top">
<div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="container d-flex col-12">
        <div class="contact-info d-flex align-items-center col-6">
            <div class="col-4"><i class="icofont-phone"></i> + 010 6455 9777 : 홍구 </div>
            <div class="col-8"><span class="d-none d-lg-inline-block"><i class="icofont-clock-time icofont-rotate-180"></i> akinux1004@gmail.com</span></div>
        </div>
        <div class="align-items-center col-6 d-flex mt-3">
            <ul sec:authorize="!isAuthenticated()" class="d-flex ml-auto">
                <li class="mr-5">
                    <a class="" href="/loginForm">로그인</a>
                </li>
                <li class="mr-5">
                    <a class="" href="/joinForm">회원가입</a>
                </li>
            </ul>
            <ul sec:authorize="isAuthenticated()" class="d-flex ml-auto">
                <li class="mr-5">
                    <span class="" sec:authentication="principal.username"></span>
                </li>
                <li class="mr-5">
                    <span class="" sec:authentication="principal.id"></span>
                </li>
                <li class="mr-5">
                    <a class="" href="/logout">로그아웃</a>
                </li>
            </ul>
<!--            <ul>-->
<!--                <li>En</li>-->
<!--                <li><a href="#">De</a></li>-->
<!--            </ul>-->
        </div>
    </div>
</div>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

        <h1 class="logo mr-auto"><a href="index.html">Restaurantly</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li class="active"><a href="">Home</a></li>
                <li><a href="#about">회원가입</a></li>
                <li><a href="/food/menu">Menu</a></li>
                <li><a href="#specials">Specials</a></li>
                <li><a href="#events">Events</a></li>
                <li><a href="#gallery">Gallery</a></li>
                <li><a href="#chefs">Chefs</a></li>
                <li><a href="#contact">Contact</a></li>
                <li class="book-a-table text-center"><a href="/admin/adminHome">ADMIN</a></li>
            </ul>
        </nav><!-- .nav-menu -->

    </div>
</header><!-- End Header -->
</div>