<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<div th:fragment="appendFormToMenu">
    <tr class="clone" data-index="0">
        <th class="align-middle">
            <div class="add-rm-btn">
                <button type="button" class="addBtn btn-primary">+</button>
                <span id="noVal">1</span>
                <button type="button" class="rmBtn btn-danger">-</button>
            </div>
        </th>
        <td class="align-middle">
            <div>
                <img th:src="@{/my-custom/images/images.jpg}" class="displaySingleFile" data-id="1"/>
            </div>
        </td>
        <td class="align-middle">
            <div id="uploadDiv">
<!--        onclick="document.getElementById('file').click();"        -->
                <input class="upBtn" type="button" value="UP"/>
                <input class="upload-file" type="file" style="display:none;" id="file" name="singleFile"/>
            </div>
        </td>
        <td class="align-middle"><input type="text"/></td>
        <td class="align-middle"><input type="text"/></td>
    </tr>
</div>



