<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="header mt-5" th:fragment="manager-bodyHeader">
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Manager Page</h2>
                <ol>
                    <li><a href="/manager/company/companyList">COMPANY LIST</a></li>
                    <li><a href="/manager/food/foodList">내 전체 상품 리스트</a></li>
                    <li><a href="/manager/food/addFood">상품등록</a></li>
                    <li><a href="/manager/food/addMenu">멀티상품등록</a></li>
                    <li>Inner Page</li>
                </ol>
            </div>

        </div>
    </section>
</div>