.container {
    margin-top: 30px;
    margin-bottom: 50px !important;
}

table {
    margin-bottom: 30px;
}

table, th, tr {
    border-color: #0dcaf0 !important;
}

th {
    background-color: black !important;
    color: #fa8231;
}

tr, tfoot{
    background-color: black !important;
    color: #d1d8e0;
}

.fixed-top {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Page, .p-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.pagination .c-flex {
    display: flex;
    justify-content: center !important;
}







